    <html>
        <head>
            <title>Smart rm</title>
        </head>
        <body>
            <form action="{% url 'add_basket' %}" method="post">
            {% csrf_token %}
                <p>Basket path:</p>
                <input name="basket_path" type="text" size="30">
                 <p>Name:</p>
                <input name="basket_name" type="text" size="30">
                <button class="btn btn-default" style="vertical-align: middle" type="submit">Create</button>
            </form>
        <ul>
            {% for basket in list_of_baskets %}
            <li>{{ basket.name_basket }}</li>
            {% endfor %}
        </ul>
        </body>
    </html>

